<!DOCTYPE html>
<html>
	<head>
			<meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1" />
			<meta charset="UTF-8">
			<title>Rapid App</title>
			<link href="./node_modules/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" type="text/css" >
			<link href="./node_modules/bootstrap/dist/css/bootstrap-theme.min.css" rel="stylesheet" type="text/css" />

			<link href="css/base.css" rel="stylesheet" type="text/css" />
	</head>
 
	<body>
	<div ng-app="ng-rapidapp" ng-controller="MainController" ng-cloak>


			<nav class="navbar navbar-default">
				<div class="container-fluid">
					<div class="navbar-header">
						<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
							<span class="sr-only">Toggle navigation</span>
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
						</button>
						<a class="navbar-brand" href="#">RapidApp</a>
					</div>

					<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
						<ul class="nav navbar-nav">
							<li class="active"><a href="#">Link <span class="sr-only">(current)</span></a></li>
							<li><a href="#">Link</a></li>
							<li class="dropdown">
								<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Dropdown <span class="caret"></span></a>
								<ul class="dropdown-menu">
									<li><a href="#">Action</a></li>
									<li><a href="#">Another action</a></li>
									<li><a href="#">Something else here</a></li>
									<li role="separator" class="divider"></li>
									<li><a href="#">Separated link</a></li>
									<li role="separator" class="divider"></li>
									<li><a href="#">One more separated link</a></li>
								</ul>
							</li>
						</ul>

						<ul class="nav navbar-nav navbar-right">
							<li><a href="#">Link</a></li>
							<li class="dropdown">
								<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Dropdown <span class="caret"></span></a>
								<ul class="dropdown-menu">
									<li><a href="#">Action</a></li>
									<li><a href="#">Another action</a></li>
									<li><a href="#">Something else here</a></li>
									<li role="separator" class="divider"></li>
									<li><a href="#">Separated link</a></li>
								</ul>
							</li>
						</ul>
					</div>
				</div>
			</nav>

			<!-- All of the Node.js APIs are available in this renderer process. 
			We are using Node.js <script>document.write(process.versions.node)</script>,
			Chromium <script>document.write(process.versions.chrome)</script>,
			and Electron <script>document.write(process.versions.electron)</script>.-->

			

		<uib-tabset active="active" justified="true">
			
			<uib-tab index="0">
				<uib-tab-heading>
					<i class="glyphicon glyphicon-edit"></i> Edit
				</uib-tab-heading>
				<div class="panel panel-default form-group">
					<div class="panel-body">

						
							
								
									<div class="dropdown buttonMenuContainer">
										<button class="btn btn-primary btn-sm btnAction dropdown-toggle" type="button" id="dropdownMenuTrim" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
											Trim<span class="caret"></span>
										</button>
										<ul class="dropdown-menu" aria-labelledby="dropdownMenuTrim">
												<li><a href="#" ng-click="trimStrings(1,1);">Trim 1 &gt;&gt; 1</a></li>
												<li><a href="#" ng-click="trimStrings(1,2);">Trim 1 &gt;&gt; 2</a></li>
												<li><a href="#" ng-click="trimStrings(2,1);">Trim 2 &gt;&gt; 1</a></li>
												<li><a href="#" ng-click="trimStrings(2,2);">Trim 2 &gt;&gt; 2</a></li>
										</ul>
									</div>
								
									<div class="dropdown buttonMenuContainer">
										<button class="btn btn-primary btn-sm btnAction dropdown-toggle" type="button" id="dropdownMenuSort" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
											Sort<span class="caret"></span>
										</button>
										<ul class="dropdown-menu" aria-labelledby="dropdownMenuSort">
												<li><a href="#" ng-click="sortLines(1, 1, 1);">Ascending 1 &gt;&gt; 1</a></li>
												<li><a href="#" ng-click="sortLines(1, 1, 2);">Ascending 1 &gt;&gt; 2</a></li>
												<li><a href="#" ng-click="sortLines(1, 2, 1);">Ascending 2 &gt;&gt; 1</a></li>
												<li><a href="#" ng-click="sortLines(1, 2, 2);">Ascending 2 &gt;&gt; 2</a></li>
												<li class="divider"></li>
												<li><a href="#" ng-click="sortLines(2, 1, 1);">Descending 1 &gt;&gt; 1</a></li>
												<li><a href="#" ng-click="sortLines(2, 1, 2);">Descending 1 &gt;&gt; 2</a></li>
												<li><a href="#" ng-click="sortLines(2, 2, 1);">Descending 2 &gt;&gt; 1</a></li>
												<li><a href="#" ng-click="sortLines(2, 2, 2);">Descending 2 &gt;&gt; 2</a></li>
										</ul>
									</div>
								
									<div class="dropdown buttonMenuContainer">
										<button class="btn btn-primary btn-sm btnAction dropdown-toggle" type="button" id="dropdownMenuUnq" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
											Uniquize<span class="caret"></span>
										</button>
										<ul class="dropdown-menu" aria-labelledby="dropdownMenuUnq">
												<li><a href="#" ng-click="uniquizeLines(1, 1);">Uniquize 1 &gt;&gt; 1</a></li>
												<li><a href="#" ng-click="uniquizeLines(1, 2);">Uniquize 1 &gt;&gt; 2</a></li>
												<li><a href="#" ng-click="uniquizeLines(2, 1);">Uniquize 2 &gt;&gt; 1</a></li>
												<li><a href="#" ng-click="uniquizeLines(2, 2);">Uniquize 2 &gt;&gt; 2</a></li>
										</ul>
									</div>
								
									<div class="dropdown buttonMenuContainer">
										<button class="btn btn-primary btn-sm btnAction dropdown-toggle" type="button" id="dropdownMenuExtract" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
											Extract<span class="caret"></span>
										</button>
										<ul class="dropdown-menu" aria-labelledby="dropdownMenuExtract">
												<li><a href="#" ng-click="extractLines(1, 1);">1 &gt;&gt; 1</a></li>
												<li><a href="#" ng-click="extractLines(1, 2);">1 &gt;&gt; 2</a></li>
												<li><a href="#" ng-click="extractLines(2, 1);">2 &gt;&gt; 1</a></li>
												<li><a href="#" ng-click="extractLines(2, 2);">2 &gt;&gt; 2</a></li>
										</ul>
									</div>
								
									<div class="dropdown buttonMenuContainer">
										<button class="btn btn-primary btn-sm btnAction dropdown-toggle" type="button" id="dropdownMenuStripHTML" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
											Strip HTML<span class="caret"></span>
										</button>
										<ul class="dropdown-menu" aria-labelledby="dropdownMenuStripHTML">
												<li><a href="#" ng-click="stripHTML(1, 1);">Strip HTML 1 &gt;&gt; 1</a></li>
												<li><a href="#" ng-click="stripHTML(1, 2);">Strip HTML 1 &gt;&gt; 2</a></li>
												<li><a href="#" ng-click="stripHTML(2, 1);">Strip HTML 2 &gt;&gt; 1</a></li>
												<li><a href="#" ng-click="stripHTML(2, 2);">Strip HTML 2 &gt;&gt; 2</a></li>
										</ul>
									</div>
								
									<div class="dropdown buttonMenuContainer">
										<button class="btn btn-primary btn-sm btnAction dropdown-toggle" type="button" id="dropdownMenuEncoding" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
											Encoding<span class="caret"></span>
										</button>
										<ul class="dropdown-menu" aria-labelledby="dropdownMenuEncoding">
												<li><a href="#" ng-click="htmlEncode(1, 1);">HTML Encode 1 &gt;&gt; 1</a></li>
												<li><a href="#" ng-click="htmlEncode(1, 2);">HTML Encode 1 &gt;&gt; 2</a></li>
												<li class="divider"></li>
												<li><a href="#" ng-click="htmlDecode(1, 1)">HTML Decode 1 &gt;&gt; 1</a></li>
												<li><a href="#" ng-click="htmlDecode(1, 2);">HTML Decode 1 &gt;&gt; 2</a></li>
												<li class="divider"></li>
												<li><a href="#" ng-click="urlEncode(1, 1);">Url Encode 1 &gt;&gt; 1</a></li>
												<li><a href="#" ng-click="urlEncode(1, 2);">Url Encode 1 &gt;&gt; 2</a></li>
												<li class="divider"></li>
												<li><a href="#" ng-click="urlDecode(1, 1)">Url Decode 1 &gt;&gt; 1</a></li>
												<li><a href="#" ng-click="urlDecode(1, 2);">Url Decode 1 &gt;&gt; 2</a></li>
										</ul>
									</div>
								
									<div class="dropdown buttonMenuContainer">
										<button class="btn btn-primary btn-sm btnAction dropdown-toggle" type="button" id="dropdownMenuAppToLines" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
											Append To Lines<span class="caret"></span>
										</button>
										<ul class="dropdown-menu" aria-labelledby="dropdownMenuAppToLines">
												<li><a href="#" ng-click="appendToLines(1, 1);">Append 1 &gt;&gt; 1</a></li>
												<li><a href="#" ng-click="appendToLines(1, 2);">Append 1 &gt;&gt; 2</a></li>
												<li><a href="#" ng-click="appendToLines(2, 1);">Append 2 &gt;&gt; 1</a></li>
												<li><a href="#" ng-click="appendToLines(2, 2);">Append 2 &gt;&gt; 2</a></li>
												<li class="divider"></li>
												<li><a href="#" ng-click="prependToLines(1, 1);">Prepend 1 &gt;&gt; 1</a></li>
												<li><a href="#" ng-click="prependToLines(1, 2);">Prepend 1 &gt;&gt; 2</a></li>
												<li><a href="#" ng-click="prependToLines(2, 1);">Prepend 2 &gt;&gt; 1</a></li>
												<li><a href="#" ng-click="prependToLines(2, 2);">Prepend 2 &gt;&gt; 2</a></li>
										</ul>
									</div>
								
								
									<div class="dropdown buttonMenuContainer">
										<button class="btn btn-primary btn-sm btnAction dropdown-toggle" type="button" id="dropdownMenuTrim" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
											Del X Chars<span class="caret"></span>
										</button><!-- first or last -->
										<ul class="dropdown-menu" aria-labelledby="dropdownMenuTrim">
												<li><a href="#" ng-click="deleteXCharsFromBeginning(1, 1);">Delete First X Chars 1 &gt;&gt; 1</a></li>
												<li><a href="#" ng-click="deleteXCharsFromBeginning(1, 2);">Delete First X Chars 1 &gt;&gt; 2</a></li>
												<li><a href="#" ng-click="deleteXCharsFromBeginning(2, 1);">Delete First X Chars 2 &gt;&gt; 1</a></li>
												<li><a href="#" ng-click="deleteXCharsFromBeginning(2, 2);">Delete First X Chars 2 &gt;&gt; 2</a></li>
												<li class="divider"></li>
												<li><a href="#" ng-click="deleteXCharsFromEnd(1, 1);">Delete Last X Chars 1 &gt;&gt; 1</a></li>
												<li><a href="#" ng-click="deleteXCharsFromEnd(1, 2);">Delete Last X Chars 1 &gt;&gt; 2</a></li>
												<li><a href="#" ng-click="deleteXCharsFromEnd(2, 1);">Delete Last X Chars 2 &gt;&gt; 1</a></li>
												<li><a href="#" ng-click="deleteXCharsFromEnd(2, 2);">Delete Last X Chars 2 &gt;&gt; 2</a></li>
										</ul>
									</div>
								
									<div class="dropdown buttonMenuContainer">
										<button class="btn btn-primary btn-sm btnAction dropdown-toggle" type="button" id="dropdownMenuTrim" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
											Del Partial Str<span class="caret"></span>
										</button>
										<ul class="dropdown-menu" aria-labelledby="dropdownMenuTrim">
												<li><a href="#" ng-click="deleteBeforeStr(1, 1);">Delete Before Str 1 &gt;&gt; 1</a></li>
												<li><a href="#" ng-click="deleteBeforeStr(1, 2);">Delete Before Str 1 &gt;&gt; 2</a></li>
												<li><a href="#" ng-click="deleteBeforeStr(2, 1);">Delete Before Str 2 &gt;&gt; 1</a></li>
												<li><a href="#" ng-click="deleteBeforeStr(2, 2);">Delete Before Str 2 &gt;&gt; 2</a></li>
												<li class="divider"></li>
												<li><a href="#" ng-click="deleteAfterStr(1, 1);">Delete After Str 1 &gt;&gt; 1</a></li>
												<li><a href="#" ng-click="deleteAfterStr(1, 2);">Delete After Str 1 &gt;&gt; 2</a></li>
												<li><a href="#" ng-click="deleteAfterStr(2, 1);">Delete After Str 2 &gt;&gt; 1</a></li>
												<li><a href="#" ng-click="deleteAfterStr(2, 2);">Delete After Str 2 &gt;&gt; 2</a></li>
												<li class="divider"></li>
												<li><a href="#" ng-click="deleteStrAndBeforeStr(1, 1);">Delete string and Before 1 &gt;&gt; 1</a></li>
												<li><a href="#" ng-click="deleteStrAndBeforeStr(1, 2);">Delete string and Before 1 &gt;&gt; 2</a></li>
												<li><a href="#" ng-click="deleteStrAndBeforeStr(2, 1);">Delete string and Before 2 &gt;&gt; 1</a></li>
												<li><a href="#" ng-click="deleteStrAndBeforeStr(2, 2);">Delete string and Before 2 &gt;&gt; 2</a></li>
												<li class="divider"></li>
												<li><a href="#" ng-click="deleteStrAndAfterStr(1, 1);">Delete string and After 1 &gt;&gt; 1</a></li>
												<li><a href="#" ng-click="deleteStrAndAfterStr(1, 2);">Delete string and After 1 &gt;&gt; 2</a></li>
												<li><a href="#" ng-click="deleteStrAndAfterStr(2, 1);">Delete string and After 2 &gt;&gt; 1</a></li>
												<li><a href="#" ng-click="deleteStrAndAfterStr(2, 2);">Delete string and After 2 &gt;&gt; 2</a></li>
										</ul>
									</div>
								
									<div class="dropdown buttonMenuContainer">
										<button class="btn btn-primary btn-sm btnAction dropdown-toggle" type="button" id="dropdownMenuTrim" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
											Del Blank Lines<span class="caret"></span>
										</button>
										<ul class="dropdown-menu" aria-labelledby="dropdownMenuTrim">
												<li><a href="#" ng-click="removeEmptyLines(1, 1);">Delete Empty 1 &gt;&gt; 1</a></li>
												<li><a href="#" ng-click="removeEmptyLines(1, 2);">Delete Empty 1 &gt;&gt; 2</a></li>
												<li><a href="#" ng-click="removeEmptyLines(2, 1);">Delete Empty 2 &gt;&gt; 1</a></li>
												<li><a href="#" ng-click="removeEmptyLines(2, 2);">Delete Empty 2 &gt;&gt; 2</a></li>
												<li class="divider"></li>
												<li><a href="#" ng-click="removeWhiteSpaceLines(1, 1)">Delete Whitespace Lines 1 &gt;&gt; 1</a></li>
												<li><a href="#" ng-click="removeWhiteSpaceLines(1, 2);">Delete Whitespace Lines 1 &gt;&gt; 2</a></li>
												<li><a href="#" ng-click="removeWhiteSpaceLines(2, 1);">Delete Whitespace Lines 2 &gt;&gt; 1</a></li>
												<li><a href="#" ng-click="removeWhiteSpaceLines(2, 2);">Delete Whitespace Lines 2 &gt;&gt; 2</a></li>
										</ul>
									</div>
								
									<div class="dropdown buttonMenuContainer">
										<button class="btn btn-primary btn-sm btnAction dropdown-toggle" type="button" id="dropdownMenuTrim" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
											Del by Content<span class="caret"></span>
										</button>
										<ul class="dropdown-menu" aria-labelledby="dropdownMenuTrim">
												<li><a href="#" ng-click="deleteLinesThatContain(1, 1);">Delete that contain 1 &gt;&gt; 1</a></li>
												<li><a href="#" ng-click="deleteLinesThatContain(1, 2);">Delete that contain 1 &gt;&gt; 2</a></li>
												<li><a href="#" ng-click="deleteLinesThatContain(2, 1);">Delete that contain 2 &gt;&gt; 1</a></li>
												<li><a href="#" ng-click="deleteLinesThatContain(2, 2);">Delete that contain 2 &gt;&gt; 2</a></li>
												<li class="divider"></li>
												<li><a href="#" ng-click="deleteLinesThatDontContain(1, 1);">Delete that don't contain 1 &gt;&gt; 1</a></li>
												<li><a href="#" ng-click="deleteLinesThatDontContain(1, 2);">Delete that don't contain 1 &gt;&gt; 2</a></li>
												<li><a href="#" ng-click="deleteLinesThatDontContain(2, 1);">Delete that don't contain 2 &gt;&gt; 1</a></li>
												<li><a href="#" ng-click="deleteLinesThatDontContain(2, 2);">Delete that don't contain 2 &gt;&gt; 2</a></li>
												<li class="divider"></li>
												<li><a href="#" ng-click="deleteLinesThatStartWith(1, 1);">Delete lines starting with 1 &gt;&gt; 1</a></li>
												<li><a href="#" ng-click="deleteLinesThatStartWith(1, 2);">Delete lines starting with 1 &gt;&gt; 2</a></li>
												<li><a href="#" ng-click="deleteLinesThatStartWith(2, 1);">Delete lines starting with 2 &gt;&gt; 1</a></li>
												<li><a href="#" ng-click="deleteLinesThatStartWith(2, 2);">Delete lines starting with 2 &gt;&gt; 2</a></li>
												<li class="divider"></li>
												<li><a href="#" ng-click="deleteLinesThatEndWith(1, 1);">Delete lines ending with 1 &gt;&gt; 1</a></li>
												<li><a href="#" ng-click="deleteLinesThatEndWith(1, 2);">Delete lines ending with 1 &gt;&gt; 2</a></li>
												<li><a href="#" ng-click="deleteLinesThatEndWith(2, 1);">Delete lines ending with 2 &gt;&gt; 1</a></li>
												<li><a href="#" ng-click="deleteLinesThatEndWith(2, 2);">Delete lines ending with 2 &gt;&gt; 2</a></li>
										</ul>
									</div>

					</div>
				</div>
			</uib-tab>

			<uib-tab index="1">
				<uib-tab-heading>
					<i class="glyphicon glyphicon-globe"></i> Web
				</uib-tab-heading>
				<div class="panel panel-default form-group">
					<div class="panel-body">

					</div>
				</div>
			</uib-tab>


		</uib-tabset>

		<div style="width: 100%; height: 100%;">

			<textarea class="form-control" rows="5" id="comment" ng-model="editorText1"></textarea>
			<div class="editor-divider">
								
			</div>
			<textarea class="form-control" rows="5" id="comment2" ng-model="editorText2"></textarea>
		</div>


	</div>

			<script>window.$ = window.jQuery = require('./node_modules/jquery/dist/jquery.min.js');</script>
			<script>require('./node_modules/bootstrap/dist/js/bootstrap.min.js');</script>
			<script>require('./node_modules/angular/angular.min.js');</script>
			<script>require('./node_modules/angular-animate/angular-animate.min.js');</script>
			<script>require('./node_modules/angular-aria/angular-aria.min.js');</script>
			<script>require('./node_modules/angular-cookies/angular-cookies.min.js');</script>
			<script>require('./node_modules/angular-route/angular-route.min.js');</script>
			<script>require('./node_modules/angular-sanitize/angular-sanitize.min.js');</script>
			<script>require('./node_modules/angular-ui-bootstrap/dist/ui-bootstrap-tpls.js');</script>
			<script>require('./node_modules/string/dist/string.min.js');</script>
			<script>require('./js/extend.js');</script>	
			<script>require('./js/lib.js');</script>
			<script>require('./js/app.js');</script>
			
	</body>

	<script>
		// You can also require other files to run in this process
		require('./renderer.js')
	</script>
	
</html>
